[logging]
 default = FILE:/var/log/krb5libs.log
 kdc = FILE:/var/log/krb5kdc.log
 admin_server = FILE:/var/log/kadmind.log

[libdefaults]
 dns_lookup_realm = false
 ticket_lifetime = 24h
 renew_lifetime = 7d
 forwardable = true
 rdns = false
 udp_preference_limit = 1
 default_realm = {{ kerberos_client_realm | upper }}

[realms]
 {{ kerberos_client_realm | upper}} = {
 kdc = {{ kerberos_client_kdc_hostname }}
 admin_server = {{ kerberos_client_kdc_hostname }}
 default_domain = {{ kerberos_client_realm | upper }}
}

[domain_realm]
 .{{ kerberos_client_realm | lower }} = {{ kerberos_client_realm | upper }}
 {{ kerberos_client_realm | lower }} = {{ kerberos_client_realm | upper }}
